*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 20px 35px;
}
#logo img{
    margin: 5px 8px;
    height: 56px;
    color: black;
    border-radius: 50px;

}
#navbar{
    background-color: black;
    z-index: -1;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font size: 1.5rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration :none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
div#demo {
    position:relative;
}
div.form-group {
    position:absolute;
    z-index:9999999;
    top:20px; 
    left:10px; 
    right:auto; 
   
   bottom:auto; 
}
.bar{
    width: 850px;
    margin-top: 400px;
    margin-left: 225px;
}
.go{
margin-top: 400px;
}
.btn ,.btn-lg, .btn-success{
background-color: red;
}
#footer {
    background-color: black;
    padding: 3px 20px;
    text-align: center;
    opacity: 0.8;
}
#footer-list li {
    list-style: none;
    color: white;
    align-items: center;
    }
#foot{
    font-size: 25px;
    font-weight: bold;
}
#footer ul li a{
    color: white;
    text-decoration: none;
}
#footer ul li a:hover{
    color:black;
    background-color: white;
}
#btn-wrapper{
    color: white;

}

.col{
    padding-left: 75px;
}
h1{
    text-align: center;
}
h2{
    margin-left: 50px;
}
.carousel-inner{
    opacity: 0.8;
}

